<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Include the navigation bar -->
    {% include 'navbar.html' %}
    
    <h1>Recommendations Based on Survey Results</h1>
    {% if message %}
        <p>{{ message }}</p>
    {% else %}
        <p>{{ consensusMessage }}</p>
        <p>{{ estimationMessage }}</p>
        <ul>
            <li><strong>Mean Estimated Gender Pay Gap:</strong> {{ payGapMean }}%</li>
            <li><strong> Gender Pay Gap:</strong> {{ actualPayGap }}%</li>
            <li><strong> Difference:</strong> {{ percentageDifference }}%</li>
        </ul>
        <p>The top 3 factors that the public believe are affecting the gender pay gap the most are:</p>
        <ul>
            {% for factor in topFactors %}
                <li><strong>{{ factor }}</strong></li>
            {% endfor %}
        </ul>
        <p>Based on the survey results, the government should focus on these issues to lower the gender pay gap.</p>
    {% endif %}
</body>
</html>