<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Include the navigation bar -->
    {% include 'navbar.html' %}
    
    <h1>Welcome to the Home Page</h1>
    <p>This information system is designed to provide statistics surrounding the median annual earnings and associated annual change in Ireland, particularly in comparing different sexes and economic sectors.</p>
    
    <h2>Key features of the site include:</h2>
    <ul>
        <li>Static charts comparing earnings in each economic sector for each sex group</li>
        <li>Dynamic charts that you can adjust the parameters for to find the exact statistics you want</li>
        <li>A summary page displaying the data for the gender pay gap and summary statistics for each grouping of sector, sex and year, with statistics for mean, median, maximum and minimum median annual earnings and associated annual change</li>
        <li>A survey to collect data regarding users assumptions for the highest earning sectors, what they believe the gender pay gap to be, what factors cause the gender pay gap and whether the Irish government is doing enough to address the gender pay gap</li>
        <li>A survey summary page summarising the above data</li>
        <li>A recommendations page based on my analysis of the data</li>
    </ul>
    <h2>How the data was sourced</h2>
    <p>The dataset was sourced from the CSO and can be found here: <a href="https://data.cso.ie/table/DDA02">https://data.cso.ie/table/DDA02</a></p>
    
    <p>I downloaded the data with the following parameters:</p>
    <ul>
        <li><strong>Statistic:</strong> Median Annual Earnings (€) and Annual Change (Median Annual Earnings) (%)</li>
        <li><strong>Year:</strong> All (2011-2023)</li>
        <li><strong>Sex:</strong> All (Both, Male, Female)</li>
        <li><strong>NACE Rev 2 Sector:</strong> All</li>
        <li><strong>Age Group:</strong> 15 years and over</li>
    </ul>
    <p>These parameters were chosen to provide a comprehensive analysis of earnings in all sectors by sex.</p> 
	<p>I chose to analyse median earnings over mean as I felt these would be more indicative of the true average earnings, as they would not be swayed by potential outliers.</p>
	<p>I also chose not to analyse age for the sake of simplicity.</p>
    <!-- Image of the data parameters -->
    <img src="{{ url_for('static', filename='dataParameters.JPG') }}" alt="Data Parameters">
</body>
</html>


